<%# <%= cl_image_tag("dkqqja4y1i1b4jesysjy", crop: :fill) %> %>
<%= cl_image_tag("dkqqja4y1i1b4jesysjy_wqo2oj", crop: :fill) %>
<h1>Lists</h1>
<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>
<%= link_to 'Create new list', new_list_path %>
